[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	pager = diff-so-fancy | less --tabs=4

[fetch]
	prune = true

[log]
	date = relative

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

;[mergetool "meld"]
	;trustExitCode = true
	;cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"

[push]
	default = current
	followTags = true

[stash]
	showPatch = true

[user]
	email = denis.kabana@gmail.com
	name = Denis Kabana
