# IGNORE EVERYTHING...
**/*
# ...EXCEPT

# Basic config
!./.gitignore
!.config/
!.zshrc

# ZSH split config files
!.zsh/
!.zsh/config*

# Kitty terminal
!.config/kitty
!.config/kitty/kitty.conf

# Neovim
!.config/nvim
!.config/nvim/*.lua
!.config/nvim/lua
!.config/nvim/lua/**/*
# LazyVim
!.config/nvim/*.json
